#can {
    position: sbsolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    margin: 0px;
}

#base {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin: 0px;
    -webkit-user-drag: none;
}

#content {
    position: relative;
    background-color: #f1cead;
    width: 640px;
    height: 640px;
}